extends layout

block content

	include ga.html

	div#fb-root
	script.
		(function(d, s, id) {
			var js, fjs = d.getElementsByTagName(s)[0];
			if (d.getElementById(id)) return;
			js = d.createElement(s); js.id = id;
			js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&appId=692634774150387&version=v2.0";
			fjs.parentNode.insertBefore(js, fjs);
		}(document, 'script', 'facebook-jssdk'));
	script.
		!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");

	article.main
		header.top-image
			img.tt(src="images/v2/TTT-circle.png",alt="Two Thousand Times")

		main.text
			hgroup.intro
				h1 Almost Nothing Captivates Us<br/>Like a Well Told Story.
				div.line
				h2 Two Thousand Times
			section.stories
				p Epic stories come from strangers, and there needs to be a place to share them. <br/>
					| It is our mission to connect the world through the medium of storytelling.

		section.join
			div.buttons
				a.reserve(href="#reserve", data-toggle="modal", data-target="#reserveModal", onclick="ga('send','pageview','reserve')")
					span.big Reserve
					br
					span.small your username

				a.learn-more(href="#learn", data-toggle="modal", data-target="#learnModal", onclick="ga('send','pageview','learnmore')")
					span.big Learn More

		div.clearfix
	
	section.share
		h4 Help spread the word.
		div.addthis_sharing_toolbox
	div.clearfix

	section.footer
		a.privacy(href="#privacy", data-toggle="modal", data-target="#privacyModal") Privacy
		a.terms(href="#terms", data-toggle="modal", data-target="#termsModal") Terms
	div.clearfix


	div.modal.fade#reserveModal(tabindex="-1",role="dialog",aria-labelledby="reserveModalLabel",aria-hidden="true")
		div.modal-dialog
			div.modal-content
				div.modal-header
					button.close(type="button",data-dismiss="modal")
						span(aria-hidden="true") &times;
						span.sr-only Close
				div.modal-body
					h1 Reserve your username
					form.email-form
						input.email-input(type="text", name="email", placeholder="Email")
						br
						input(type="text", name="username", placeholder="UserName*")
						button(type="submit") Submit

						p *Eg GoodTalk, SnakeBiite, Miso, etc <br/> 

					
					span.error-message.hidden

					div.social-container.hidden
						div.fb-like(data-href="http://www.twothousandtimes.com/?ref=facebook", data-layout="standard", data-action="like", data-show-faces="true" data-share="true")
						div.twitter-share
							a(href="https://twitter.com/share", data-text="I just reserved my username @twothousandx", data-url="http://www.twothousandtimes.com/?ref=twitter", class="twitter-share-button", data-lang="en") Tweet
						div.reddit-share
							a(href="http://www.reddit.com/submit" onclick="window.open('http://www.reddit.com/submit?url=' + encodeURIComponent(window.location + '?ref=reddit')); return false")
								img(src="http://www.reddit.com/static/spreddit7.gif", alt="submit to reddit", border="0")


	div.modal.fade#learnModal(tabindex="-1",role="dialog",aria-labelledby="learnModalLabel",aria-hidden="true")
		div.modal-dialog
			div.modal-content
				div.modal-header
					button.close(type="button",data-dismiss="modal")
						span(aria-hidden="true") &times;
						span.sr-only Close
				div.modal-body
					h2 Every Life is a Story Waiting to be Heard
					p The desire to leave our mark, to communicate, to share.<br/>
						| It turns strangers into friends, it's where we learn, it builds community. <br/>
						| Until today, no one destination existed.

					div.line

					p After a successful toe in the water with some amazing storymakers, we’re excited to invite you to participate in our public beta launching soon.

					h3 No One Can Tell Someone Else's Story
						|<br/> &
						|<br/> Somewhere there's a story that you were part of making.

					div.float-right
						span.stay-tuned Where writers & readers meet...
						img.ttt(src="images/v2/signoff.png", alt="The Two Thousand Times")

	div.modal.fade#privacyModal(tabindex="-1",role="dialog",aria-labelledby="privacyModalLabel",aria-hidden="true")
		div.modal-dialog
			div.modal-content
				div.modal-header
					button.close(type="button",data-dismiss="modal")
						span(aria-hidden="true") &times;
						span.sr-only Close
				div.modal-body
					include privacy.html

	div.modal.fade#termsModal(tabindex="-1",role="dialog",aria-labelledby="termsModalLabel",aria-hidden="true")
		div.modal-dialog
			div.modal-content
				div.modal-header
					button.close(type="button",data-dismiss="modal")
						span(aria-hidden="true") &times;
						span.sr-only Close
				div.modal-body
					include terms.html

	script.
		window.cdn = '#{cdn}';  
	script(src="#{cdn}/javascripts/modernizr.min.js")
	script(src="//code.jquery.com/jquery-1.11.0.min.js")
	script(src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js")
	script(src="#{cdn}/javascripts/lightbox.min.js")
	script(src="#{cdn}/javascripts/index2.js")


