extends layout

block content  
  div#fb-root

  section.title-container
    div.video-overlay
      h1 
        span THE
        br 
        | Two Thousand Times
      div.loading-container
        img(src="#{cdn}/images/xxxxx.png")

    div.learn-more
       a(href="#learn")
        h3 Learn More
        img(src="#{cdn}/images/down-arrow.png")


    video#bgvid(muted)
      
  -// =========================== WHO WE ARE SECTION =============================
  section.who-we-are
    a(name="learn")
    div.content-container.who-top
      div.who-top-left(data-0="opacity: 0; margin-top:200px;", data-center="opacity: 1; margin-top:100px;", data-top="opacity: .5; margin-top:50px;")
        h2 WE ARE A PLANET OF 
          span STORYTELLERS.
        h3 CENTURIES OF IT REALLY.
      div.who-top-right(data-0="opacity: 0; margin-top:150px;", data-center="opacity: 1; margin-top:150px;", data-top="opacity: .1; margin-top:100px;")
        h3.desire THE DESIRE TO LEAVE OUR MARK,
        h3.communicate TO COMMUNICATE,
        h3.share TO SHARE.
        img(class="connect" src="#{cdn}/images/connect.png")
      div.clearfix
    
    div.content-container
      div.who-bottom-left(data-0="opacity: 0; margin-top:350px;", data-center="opacity: 1; margin-top:250px;", data-top="opacity: 0.5; margin-top:100px;")
        h3.from FROM CAVE PAINTINGS
        div.center-x
          img(class="connect" src="#{cdn}/images/bluex.png")
        h3.to TO MANIFESTOS
        div.border-lines
      div.who-bottom-right(data-0="opacity: 0; margin-top:400px;", data-center="opacity: 1; margin-top:350px;", data-top="opacity: 0.5; margin-top:250px;")
        h3.from TO CAMPFIRES
        div.center-x
          img(class="connect" src="#{cdn}/images/bluex.png")
        h3.to TO GRAFFITI
        div.border-lines
      div.clearfix
    div.silhouette-bg
    div.clearfix


  -// ============================= STORY SECTION ====================================
  section#canvas-wrapper(data-bottom-center="", data--200-top="", data-emit-events)
    div.content-container
      div.canvas-relative
        div.story-title
          h3 NOTHING CAPTIVATES US LIKE
          h2 A STORY FROM A STRANGER.
        div.story-top-right
          div.story-top-right-inner
            table
              tr
                td.story-top-right-text
                  p NO ONE CAN TELL SOMEONE ELSE'S
                    br
                    span STORY
                td.story-top-right-img
                  img(src="#{cdn}/images/book.png")
        div.story-top-left
          p What gets us excited are the people behind these stories. It's the one place where...
        div.story-bottom-left
          h3.energy ENERGY
          p &
          h3 AUTHENTICITY
          h2 MEET.
        div.story-bottom-right
          p On top of that,
          h3 SOMEWHERE IS A STORY 
          p that you were a part of making.
        div.canvas-center
        div#canvas
        
      div.bottom-message(data--100-bottom="", data-emit-events)
        p.story-bottom-message
          span.highlight It turns bypassers into friends. It's where we learn. It builds community.
          br
          span.highlight Until today, 
          span no one destination existed.


  -// ====================================== FINAL SECTION ===================================
  section.final-section#final-section(data-bottom-center="", data--50-bottom="", data-emit-events)
    div.content-container
      div.logo-container
        img.logo(src="#{cdn}/images/TTT-icon.png")
      img.footer-logo(src="#{cdn}/images/ttt-logo-20.png" alt="the Two Thousand Times")
      p It is our mission to connect the world through the power of storytelling.
      p.coming Coming September 2014
      h2 Reserve your username today
      form.email-form
        input(type="text", name="email", placeholder="Email")
        input(type="text", name="username", placeholder="Username")
        button(type="submit") Submit
        div.error-container
          span.error-message
        
      div.social-media-container
        a(href="https://www.facebook.com/twothousandtimes")
         img(src="#{cdn}/images/fbook.png")
        a(href="https://twitter.com/twothousandx")            
         img(src="#{cdn}/images/twitter.png")

    div.legal
      a.privacy(href="#privacy",data-toggle="modal",data-target="#privacyModal",class="privacy") Privacy
      a.terms(href="#terms",data-toggle="modal",data-target="#termsModal",class="terms") Terms


  -// =================================== FIXED FOOTER =====================================
  div.footer
    a.thanks(href="images/thanks.jpg",data-toggle="modal",data-target="#reserveModal",class="reserve") Thanks for Signing up    

    div.footer-container
      div.progress-container
        div.progress(data-0="width:0%;", data-end="width:100%;")
        div.progress-default
          div.progress-node-x
            img(src="#{cdn}/images/bluex-border.png")
      div.clearfix

      .signup-container
        h4 Reserve a username
        form.email-form
          input(type="text", name="email", placeholder="Email")
          input(type="text", name="username", placeholder="Username")
          button(type="submit") Submit
          div.error-container
            span.error-message
          
      .social
        a(href="https://www.facebook.com/twothousandtimes")
         img(src="#{cdn}/images/fbook.png")
        a(href="https://twitter.com/twothousandx")            
         img(src="#{cdn}/images/twitter.png")

   div.modal.fade#reserveModal(tabindex="-1",role="dialog",aria-labelledby="reserveModalLabel",aria-hidden="true")
    div.modal-dialog
     div.modal-content
      div.modal-header
       button.close(type="button",data-dismiss="modal")
        span(aria-hidden="true") &times;
        span.sr-only Close
      div.modal-body
       h2 Thanks! You should receive an e-mail with an confirmation.
       div.social-container.hidden
        div.fb-like(data-href="http://www.twothousandtimes.com/?ref=facebook", data-layout="standard", data-action="like", data-show-faces="true" data-share="true")
        div.twitter-share
         a(href="https://twitter.com/share", data-text="I just reserved my username @twothousandx", data-url="http://www.twothousandtimes.com/?ref=twitter", class="twitter-share-button", data-lang="en") Tweet
        div.reddit-share
         a(href="http://www.reddit.com/submit" onclick="window.open('http://www.reddit.com/submit?url=' + encodeURIComponent(window.location + '?ref=reddit')); return false")
          img(src="http://www.reddit.com/static/spreddit7.gif", alt="submit to reddit", border="0")

   div.modal.fade#privacyModal(tabindex="-1",role="dialog",aria-labelledby="privacyModalLabel",aria-hidden="true")
    div.modal-dialog
     div.modal-content
      div.modal-header
       button.close(type="button",data-dismiss="modal")
        span(aria-hidden="true") &times;
        span.sr-only Close
      div.modal-body
       include privacy.html

   div.modal.fade#termsModal(tabindex="-1",role="dialog",aria-labelledby="termsModalLabel",aria-hidden="true")
    div.modal-dialog
     div.modal-content
      div.modal-header
       button.close(type="button",data-dismiss="modal")
        span(aria-hidden="true") &times;
        span.sr-only Close
      div.modal-body
       include terms.html

  script.
    window.cdn = '#{cdn}';
  script(src="#{cdn}/javascripts/modernizr.min.js")
  script(src="//code.jquery.com/jquery-1.11.0.min.js")
  script(src="#{cdn}/javascripts/jquery-ui.min.js")
  script(src="#{cdn}/javascripts/raphael-min.js")
  script(src="#{cdn}/javascripts/skrollr.min.js")
  script(src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js")
  script(src="#{cdn}/javascripts/index.js")
  include script.html